/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    font-family: 'Open Sans', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

/* Navigation styles */

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #000;
}

.logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 35px;
    color: #FFFFFF;
}

.nav--logo {
    font-size: 30px;
    vertical-align: middle;
    margin: 20px 577px 19px 0;
}

.red-letters {
    color: #EC7979;
    text-transform: uppercase;
}

.nav-links {
    display: inline-block;
    height: 100%;
    margin-bottom: 40px;
}

.nav-link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 48px;
}

.nav-link:hover {
    color: #fff;
}

/* Header styles */

header {
    width: 100%;
    height: 601px;
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45) ), url(../img/header-background.jpg) no-repeat center;
}

.header-content {
    max-width: 544px;   
    padding-top: 109px;
    display: inline-block;
    vertical-align: top;
    margin-right: 261px;
}

.header--logo {
    font-family: 'Roboto', sans-serif;
    font-family: Roboto;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;

}

.title {
    padding: 80px 0 32px 0;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;  
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.header--title {
    padding: 32px 0;
}

.line {
    width: 64px;
    height: 2px;
    background-color: #E72424;
    border: none;
    margin: 0 auto;
}

.header--line {
    background-color: #fff;
    margin: 0;
}

.subtitle {
    padding-top: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

.header--subtitle {
    width: 282px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.download-button {
    width: 135px;
    height: 42px;
    display: block;
    margin-top: 39px;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    text-align: center;
}

.download-button:hover{
    color: #EC7979;
    border-color: #EC7979;
}

.header-form {
    display: inline-block;
    margin-top: 111px;
    width: 370px;
    height: 370px;
    background-color: #fff;
    border-radius: 8px;
}

.form-title {
    width: 100%;
    padding: 14.8px 0;
    text-align: center;
    text-transform: capitalize;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.user-data {
    width: 252px;
    margin: 28px auto 70px auto;
}

.user-data-form-input {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    width: 100%;
    height: 54px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.user-data-form-input:focus {
    outline: none;
}

.form-button {
    display: block;
    width: 100%;
    height: 54px;
    padding: 16px 144px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #EC7979;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    color: #FFFFFF;
}

.form-button:hover {
    background-color: #EC4141;
}


/* Social Media Styles */

.social-media {
    width: 100%;
    padding: 14px 0 17px 0;
    background-color: #F8EFEF;
}

.social-media-content {
    display: inline-block;
    width: 365px;
    margin-right: 125px;
}

.social-media-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    text-transform: capitalize;
}

.social-media-text {
    padding-top: 14px;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

.social-media-links {
    display: inline-block;
    margin-bottom: 15px;
    width: 680px;
    height: 42px;
}

.social-media-link {
    width: 92px;
    height: 42px;
    display: inline-block;
    background: url(../img/social-media-icons.png) no-repeat;
}

.media--twitter {
    background-position: -95px 0;
}

.media--google--plus {
    background-position: -194px 0;
}

.media--pinterest {
    background-position: -288px 0;
}

.media--instagram {
    background-position: -387px 0;
}

.media--stumble--upon {
    background-position: -489px 0;
}

.media--rss {
    background-position: -593px 0;
}

/* Tabs styles */

.tabs-information {
    width: 100%;
    padding-top: 125px;
    padding-bottom: 105px;
    background-color: #fff;
}

.tabs {
    display: inline-block;
}

.tab-block {
    display: inline-block;
    width: 112px;
    height: 110px;
    padding: 45px 35px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    background-color: #333333;
    margin-right: 114px;

}

.tab--block--top {
    background-color: #EC7979;
}

.tab--block--down {
    margin-bottom: 0;
}

.tabs-content {
    display: inline-block;
    width: 572px;
    vertical-align: top;
    margin-right: 46px;
}

.tabs-title {
    padding-bottom: 58px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.tabs-text {
    padding-bottom: 61px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
}

.tabs--download--button {
    color: #fff;
    background-color: #EC7979;
    border: 1px solid #EC7979;
}

.tabs--download--button:hover {
    color: #EC7979;
    background-color: #fff;
}

.tabs-image {
    vertical-align: top;
}